/** General */

div.padded {
    width: 100%;
}

/** Header */
.header-arrow {
    height: 10px;
    background-image: url(../img/arrow-header.png);
    background-position: center;
    background-repeat: no-repeat
}

.window {
    top: 10px !important;
}

li.list-group-item:hover {
    background-color: #efefef;
}

li.list-group-item:focus {
    background-color: #a1a1a1;
}

li.list-group-item p {
    padding: 3px;
}


.btn.btn-default:disabled {
    background-color: #e8e6e8;
    background-image: -webkit-linear-gradient(top, #e8e6e8 0, #e8e6e8 100%);
    background-image: linear-gradient(to bottom, #e8e6e8 0, #e8e6e8 100%);
}

.btn .icon.icon-play {
    color: #42ffab;
}

.btn .icon.icon-stop {
    color: #fd7373;
}

/** Projects initialization */

div.projects-init p {
    padding: 2px;
}

div.projects-init button.btn.initialize {
    margin: 20px 35%;
}

div.projects-init button.btn.reload {
    margin: 20px 40%;
}
